doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  img(src="a.png" style='display: none;')
  img(src="b.png" style='display: none;')

  canvas#c1(width="100" height="100")

  canvas#c2(width="100" height="100")
