doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  img.a(src="a.png" style='display: none;')
  img.b(src="b.png" style='display: none;')
  img.z(src="z.png" style='display: none;')
